<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859132168543-0deln917cr5scqtqn9fld62bjs0riqof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859132168543-0deln917cr5scqtqn9fld62bjs0riqof</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859132168543-musjbm4ei545bbjl6nqbl81d4317ai92.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6-cd0QC6-owWwh2EcYnvxME3wGNWTiIY</string>
	<key>GCM_SENDER_ID</key>
	<string>859132168543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Utilisateur.Kraze</string>
	<key>PROJECT_ID</key>
	<string>copykraze</string>
	<key>STORAGE_BUCKET</key>
	<string>copykraze.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859132168543:ios:62711573582985bb</string>
	<key>DATABASE_URL</key>
	<string>https://copykraze.firebaseio.com</string>
</dict>
</plist>